<form action="#" method="post">{% csrf_token %}
	<div class="row">
		<div class="col-md-2 col-md-offset-10">
			<button class="btn btn-lrg btn-primary" type="submit">Guardar cambios <span class="glyphicon glyphicon-save"></span></button>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<div class="text-danger">{{cita_form.autorizada.errors}}</div>
				{{cita_form.autorizada.label_tag}}
				{{cita_form.autorizada}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<div class="text-danger">{{cita_form.entrevistador.errors}}</div>
				{{cita_form.entrevistador.label_tag}}
				{{cita_form.entrevistador}}
			</div>
		</div>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-6">
					<label for="id_fecha_entrevista">Fecha:</label>
				</div>
				<div class="col-md-6">
					<label for="id_fecha_entrevista">Hora:</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<div class="text-danger">{{cita_form.fecha_entrevista.errors}}</div>
						<!-- {{cita_form.fecha_entrevista.label_tag}} -->
						{{cita_form.fecha_entrevista}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="text-danger">{{cita_form.hora_entrevista.errors}}</div>
						<!-- {{cita_form.hora_entrevista.label_tag}} -->
					
						{{cita_form.hora_entrevista}}

					</div>
				</div>
			</div>
		</div>
	</div>
	
