{% load fe_extras %}
<form action="#" method="post">{% csrf_token %}
	{% if request.user.is_staff %}
		<div class="row">
			<div class="col-md-2 col-md-offset-10">
				<button class="btn btn-lrg btn-primary" type="submit">Guardar cambios <span class="glyphicon glyphicon-save"></span></button>
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="text-danger">{{infopersonal_form.objetivo_personal.errors}}</div>
				{{infopersonal_form.objetivo_personal.label_tag}}
				{{infopersonal_form.objetivo_personal}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="text-danger">{{infopersonal_form.objetivo_en_empresa.errors}}</div>
				{{infopersonal_form.objetivo_en_empresa.label_tag}}
				{{infopersonal_form.objetivo_en_empresa}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<div class="text-danger">{{infopersonal_form.cualidades.errors}}</div>
				{{infopersonal_form.cualidades.label_tag}}
				{{infopersonal_form.cualidades}}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<div class="text-danger">{{infopersonal_form.defectos.errors}}</div>
				{{infopersonal_form.defectos.label_tag}}
				{{infopersonal_form.defectos}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<div class="text-danger">{{infopersonal_form.trabajo_que_desarrolla.errors}}</div>
				{{infopersonal_form.trabajo_que_desarrolla.label_tag}}
				{{infopersonal_form.trabajo_que_desarrolla}}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<div class="text-danger">{{infopersonal_form.antecedentes_penales.errors}}</div>
				{{infopersonal_form.antecedentes_penales.label_tag}}
				{{infopersonal_form.antecedentes_penales}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<div class="text-danger">{{infopersonal_form.tatuajes.errors}}</div>
				{{infopersonal_form.tatuajes.label_tag}}
				{{infopersonal_form.tatuajes}}
			</div>
		</div>
	</div>

	<hr class="thin-separator" />
	<div class="row">
		<div class="col-md-4">
			<h2>Historial en empresa</h2>
		</div>
	</div>
	<div class="row">
		{{ historialempresa_formset.management_form }}
			{% for form in historialempresa_formset %}

				<div class="col-md-6">
					<h4>{{ form.instance.categoria|clean_type }}</h4>
					{{ form.id }}
					<div class="text-danger">{{form.tiene.errors}}</div>
					{{form.tiene}}
					<label>Puesto:</label>
					<div class="text-danger">{{form.puesto.errors}}</div>
					{{form.puesto}}
					
					{% if form.instance.categoria == 'trabajo' %}
						<label>Periodo:</label>
						<div class="text-danger">{{form.periodo.errors}}</div>
						{{form.periodo}}
					{% endif %}

					{% if form.instance.categoria == 'familiar' %}
						<label>Nombre:</label>
						<div class="text-danger">{{form.nombre.errors}}</div>
						{{form.nombre}}
					{% endif %}

				</div>
			{% endfor %}

	</div>
</form>