<html lang="sp" ng-app="contacktoApp">
<head>
	<title>Contakto Uno</title>
	<meta name="author" value="http://mintitmedia.com">
	<meta name="description" value="">
	<meta naem="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="icon" type="image/x-icon" href="{% static 'media/favicon.ico' %}">
	<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/screen.css' %}?ver=1000">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/datepicker.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/ekko-lightbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/jquery.timepicker.css' %}">
	{% if es_chrome %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/chrome.css' %}?ver=1000">
	{% endif %}
</head>
<body>
	{% include 'layout/menu.html' %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				{% block side_content %}{% endblock %}		
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      			{% block site_wrapper %}{% endblock %}
      		</div>
      	</div>
    </div>
		 
	<script type="text/javascript" src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/ekko-lightbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/jquery.timepicker.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/functions.js' %}?ver=1000"></script>
	<script type="text/javascript" src="{% static 'js/app.js' %}?ver=1000"></script>
	<script type="text/javascript" src="{% static 'js/search.js' %}?ver=1000"></script>
	
	{% if is_usuario_contacto %}
		<script type="text/javascript" src="{% static 'js/readonly.js' %}?ver=1000"></script>
	{% endif %}
	<script type="text/javascript">
	{% block extra_javascript %}{% endblock %}
	</script>

</body>
</html>