<ul class="nav nav-tabs">
	{% if tiene_entrevista %}
		<li class="{% if seccion_entrevista == 'datos-generales' %}active{% endif %}"><a href="/candidato/investigacion/{{ investigacion.id }}/entrevista/{% if request.user.is_staff %}editar{% else %}ver{% endif %}/datos-generales">Datos generales</a></li>
		<li class="{% if seccion_entrevista == 'info-personal' %}active{% endif %}"><a href="/candidato/investigacion/{{ investigacion.id }}/entrevista/{% if request.user.is_staff %}editar{% else %}ver{% endif %}/info-personal">Inf. Personal</a></li>
		<li class="{% if seccion_entrevista == 'salud' %}active{% endif %}"><a href="/candidato/investigacion/{{ investigacion.id }}/entrevista/{% if request.user.is_staff %}editar{% else %}ver{% endif %}/salud">Salud, Actividades y Hábitos</a></li>
		<li class="{% if seccion_entrevista == 'academica' %}active{% endif %}"><a href="/candidato/investigacion/{{ investigacion.id }}/entrevista/{% if request.user.is_staff %}editar{% else %}ver{% endif %}/academica">Inf. Académica</a></li>
		<li class="{% if seccion_entrevista == 'vivienda' %}active{% endif %}"><a href="/candidato/investigacion/{{ investigacion.id }}/entrevista/{% if request.user.is_staff %}editar{% else %}ver{% endif %}/vivienda">Vivienda</a></li>
		<li class="{% if seccion_entrevista == 'familia' %}active{% endif %}"><a href="/candidato/investigacion/{{ investigacion.id }}/entrevista/{% if request.user.is_staff %}editar{% else %}ver{% endif %}/familia">Marco Familiar</a></li>
		<li class="{% if seccion_entrevista == 'inf-economica' %}active{% endif %}"><a href="/candidato/investigacion/{{ investigacion.id }}/entrevista/{% if request.user.is_staff %}editar{% else %}ver{% endif %}/inf-economica">Inf. Económica</a></li>
		<li class="{% if seccion_entrevista == 'referencias' %}active{% endif %}"><a href="/candidato/investigacion/{{ investigacion.id }}/entrevista/{% if request.user.is_staff %}editar{% else %}ver{% endif %}/referencias">Referencias Personales</a></li>
		<li class="{% if seccion_entrevista == 'evaluacion' %}active{% endif %}"><a href="/candidato/investigacion/{{ investigacion.id }}/entrevista/{% if request.user.is_staff %}editar{% else %}ver{% endif %}/evaluacion">Evaluación</a></li>
	{% endif %}
	{% if request.user.is_staff %}	
		<li class="{% if seccion_entrevista == 'cita' %}active{% endif %}"><a href="/candidato/investigacion/{{ investigacion.id }}/entrevista/editar/cita">Cita</a></li>
		<li class="{% if seccion_entrevista == 'archivo' %}active{% endif %}"><a href="/candidato/investigacion/{{ investigacion.id }}/entrevista/editar/cargar">Archivo</a></li>
	{% endif %}
</ul>