{% extends 'layout/base.html' %}

{% block site_wrapper %}
<h1 class="page-header">{{title}}</h1>
{% if state %}
	<div class="{{msg_class}}"><ul>{% for msg in state %}<li>{{msg}}</li>{% endfor %}</ul></div>
{% endif %}
<form role="form" action="#" method="post">{% csrf_token %}
	<div class="form-group {% if required_fields or user_exists %}has-error{% endif %}">
		<label class="control-label" form="username">Usuario:</label>
		<input type="text" class="form-control" name="username" value="{{username}}">
	</div>

	<div class="form-group {% if required_fields %}has-error{% endif %}">
		<label class="control-label" for="password">Contraseña:</label>
		<input type="password" class="form-control" name="password" placeholder="{% if editar_agente %}( Introduce una contraseña si deseas cambiarla ){% endif %}">
	</div>

	<div class="form-group {% if required_fields %}has-error{% endif %}">
		<label class="control-label" for="nombre">Nombre:</label>
		<input type="text" class="form-control" name="first_name" value="{{first_name}}">
	</div>

	<div class="form-group {% if required_fields %}has-error{% endif %}">
		<label class="control-label" for="apellido">Apellido:</label>
		<input type="text" class="form-control" name="last_name" value="{{last_name}}">
	</div>

	<div class="form-group {% if required_fields %}has-error{% endif %}">
		<label class="control-label" for="email">Correo electrónico:</label>
		<input type="text" class="form-control" name="email" value="{{email}}">
	</div>

	<div class="form-group">
		<label for="telefono">Teléfono:</label>
		<input type="text" class="form-control" name="telefono" value="{{telefono}}">
	</div>

	<div class="form-group pull-right">
		{% if enable_delete_agente %}
		<a href="/agente/{{user.id}}/borrar" class="btn btn-danger btn_eliminar" title="eliminar">Eliminar</a>
		{% endif %}
		<button type="subtmit" class="btn btn-primary" title="guardar">Guardar</button>
	</div>
</form>
{% endblock %}