{% extends 'layout/base.html' %}
{% load fe_extras %}
{% block side_content %}
	{% include 'sections/agente/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
{% autoescape off %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="msg"></div>
			</div>
		</div>	
{% endautoescape %}
<!-- <h1 class="page-header">
	Agentes 
	<a href="/agente/nuevo" title="Crear Agente" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
	<span id="msg"></span>
</h1> -->


{% if investigaciones|length %}
	<h2><small>Investigaciones de</small> {{agente_seleccionado.first_name}} {{agente_seleccionado.last_name}}</h2>
{% endif %}

<div class="row placeholders">
    <div class="table-responsive">
		{% if investigaciones|length %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Empresa</th>
					<th>Estatus</th>
					<th>Fecha de registro</th>
					<th>Ver</th>
				</tr>
			</thead>
			<tbody>
			{% for inv in investigaciones %}
			<tr>
				<td>{{ inv.candidato.nombre }}</td>
				<td>{{ inv.compania.nombre }}</td>
				<td>{{ inv.status|investigacion_status }}</td>
				<td>{{ inv.last_modified|date:"d/M/y" }}</td>
				<td><a href="/candidato/investigacion/{{inv.id}}/editar" title="editar" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		{% else %}
			<div class="bg-info">0 resultados, favor de intentar con otros filtros</div>
		{% endif %}
	</div>
</div>
{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
{% endblock %}