{% extends 'layout/base.html' %}

{% block side_content %}
	{% include 'sections/empresa/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
{% autoescape off %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="msg"></div>
			</div>
		</div>	
{% endautoescape %}
<!-- <h1 class="page-header">
	Empresas 
	<a href="/empresa/nueva" title="empresa nueva" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-plus"></span></a>
	<span id="msg"></span>
</h1> -->
<div class="row placeholders">
    <div class="table-responsive">
		{% if empresas|length %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="text-center">Nombre</th>
					<th class="text-center">Teléfono</th>
					<th class="text-center">Teléfono alterno</th>
					<th class="text-center">Email</th>
					<th class="text-center">Es cliente</th>
					<th class="text-center">Editar</th>
					<th class="text-center">Contactos</th>
				</tr>
			</thead>
			<tbody>
			{% for empresa in empresas %}
				<tr>
					<td>{{ empresa }}</td>
					<td>{{ empresa.telefono|default:'---' }}</td>
					<td>{{ empresa.telefono_alt|default:'---' }}</td>
					<td>{{ empresa.email|default:'---' }}</td>
					<td class="text-center">{% if empresa.es_cliente %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>
					<td class="text-center"><a href="/empresa/{{empresa.id}}/editar" title="editar {{empresa}}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></td>
					<td class="text-center"><a href="/empresa/{{empresa.id}}/contactos" title="editar {{empresa}}" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></td>
				</tr>
			{% endfor %}

			</tbody>
		</table>
		{% else %}
			<div class="bg-info">0 resultados, favor de intentar con otros filtros</div>
		{% endif %}
	</div>
</div>
{% endblock %}