{% extends 'layout/base.html' %}

{% block side_content %}
	{% include 'sections/candidato/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
<div>
	<h3><small>Candidato:</small> {{investigacion.candidato}} / {{investigacion.compania}} <span class="etapa">({{ investigacion.status_general|investigacion_status_gral }})</span></h3>
	{% include 'sections/candidato/seccion/menu_trayectoria.html' %}
	<br />
	{% include 'sections/entrevista/seccion/menu_entrevista.html' %}
	<form role="form" action="#" method="post" id="form_candidato_crear">
		{% csrf_token %}
		<input type="hidden" name="action" id="action"/>
		<div class="tab-content">
			<div class="row">
				<div class="col-md-4">
					<a href="/candidato/investigacion/{{investigacion_id}}/editar/entrevista/cargar">[ cargar excel y anexos ]</a>
				</div>
				<div class="col-md-4">
					{{ formInvestigacion.entrevista.errors }}
					<label for="id_investigacion-entrevista">Entrevista Día y Hora</label>
					{{ formInvestigacion.entrevista }}	
				</div>
			</div>
		</div>
	</form>
</div>
{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
{% endblock %}