{% extends 'layout/base.html' %}

{% block side_content %}
	{% include 'sections/candidato/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
{% autoescape off %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="msg"></div>
			</div>
		</div>	
{% endautoescape %}
{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
{% endblock %}