{% extends 'layout/base.html' %}
{% load fe_extras %}

{% block side_content %}
	{% include 'sections/candidato/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}

{% include 'sections/candidato/seccion/candidato_header.html' %}

<div>	
	{% include 'sections/candidato/seccion/menu_trayectoria.html' %}
	
	<form role="form" action="#" method="post" id="form_candidato_crear">
		{% csrf_token %}
		<input type="hidden" name="action" id="action"/>
		<div id="reporte">
			{% if not tiene_trayectoria %}
			<div class="row">
				<div class="col-xs-6">
					<div class="alert alert-warning" role="alert">El candidato debe contar con una trayectoria laboral para poder generar los reportes</div>
				</div>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-xs-3">
					<label>Reporte de datos generales y trayectoria laboral </label>
				</div>
				<div id="exportar-pdf" class="col-xs-2">
					<a class="btn btn-default {% if not tiene_trayectoria %}disabled{% endif %}" href="/candidato/investigacion/exportar/{{investigacion.id}}/compacto">Generar PDF <span class="glyphicon glyphicon-export"></span></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-5">
					<hr />
				</div>
			</div>
			{% if tiene_trayectoria and not tiene_entrevista %}
			<div class="row">
				<div class="col-xs-6">
					<div class="alert alert-warning" role="alert">El candidato debe contar con entrevista para poder generar el reporte completo</div>
				</div>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-xs-3">
					<label>Reporte completo de investigación </label>
				</div>
				<div id="exportar-pdf" class="col-xs-3">
					<a class="btn btn-default {% if not tiene_trayectoria or not tiene_entrevista %}disabled{% endif %}" href="/candidato/investigacion/exportar/{{investigacion.id}}/completo">Generar PDF <span class="glyphicon glyphicon-export"></span></a>
				</div>
			</div>
		</div>
	</form>
</div>
{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
{% endblock %}