{% extends 'layout/base.html' %}
{% load fe_extras %}

{% block side_content %}
	{% include 'sections/candidato/seccion/search_sidebar.html' %}
{% endblock %}

{% block site_wrapper %}
{% autoescape off %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				{% if msg %}
					<div id="msg" class="alert alert-{{status}}">
						{% for m in msg %}
							- {{m}} <br />
						{% endfor %}
					</div>
				{% else %}
					<div id="msg"></div>
				{% endif %}
			</div>
		</div>	
{% endautoescape %}

	{% include 'sections/candidato/seccion/candidato_header.html' %}

	{% include 'sections/candidato/seccion/menu_trayectoria.html' %}
	
	{% include 'sections/entrevista/seccion/menu_entrevista.html' %}

<div class="alert alert-warning" role="alert">Información aún no disponbile.</div>

{% include 'sections/candidato/seccion/empresa_select_modal.html' %}
{% endblock %}