<div class="modal fade" id="selectEmpresaFormaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">Selecciona una empresa</h4>
	  </div>
	  <div class="modal-body">

	  		<div class="row">
		  		<div class="col-md-6">
		  			<div class="input-group">
				  		<input id="search-empresa-forma" class="form-control" ng-model="searchEmpresa">
				  		<span class="input-group-addon glyphicon glyphicon-search"></span> 
				  	</div>
		  		</div>
		  	</div>
		  	<br	/>

		  	<div id="modal-lista-empresas" class="row">
		  		<div ng-repeat="(key,empresa) in empresas_select_modal | filter:searchEmpresa" ng-click="set_empresa(empresa.id,empresa.nombre)">
		  			<div title="{[{empresa.nombre}]}" class="col-md-3">
		  				<span class="btn btn-default navbar-btn">{[{empresa.nombre|limitTo:13}]} <span class="glyphicon glyphicon-share"></span></span>
		  			</div>
		  		</div>
		  	</div>
	  </div>
	  <div class="modal-footer">

		<button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
	  </div>
	</div>
  </div>
</div>

<script type="text/javascript">
	var empresas_select_forma = {% if empresas_select_todas %}[{% for e in empresas_select_todas %} {id:'{{ e.id }}'  , nombre: '{{ e.nombre }}' }, {% endfor %} ]{% elif empresas_select %} [ {% for e in empresas_select %} {id:'{{ e.id }}'  , nombre: '{{ e.nombre }}' }, {% endfor %} ]
							{% else %}''{% endif %};
	var compania_instancia_nombre = {% if formInvestigacion.instance.compania.nombre %}'{{formInvestigacion.instance.compania.nombre}}'{% else %}''{% endif %}
	var compania_instancia_id = {% if formInvestigacion.instance.compania.id %}'{{formInvestigacion.instance.compania.id}}'{% else %}''{% endif %}

	var trayectoria_compania_instancia_nombre = {% if formTrayectoria.instance.compania.nombre %}'{{formTrayectoria.instance.compania.nombre}}'{% else %}''{% endif %}
	var trayectoria_compania_instancia_id = {% if formTrayectoria.instance.compania.id %}'{{formTrayectoria.instance.compania.id}}'{% else %}''{% endif %}

</script>