<form action="#" method="post">{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			<input class="btn btn-lrg btn-primary" type="submit" value="Guardar cambios" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2></h2>
				{% for field in academica_form %}
					<div class="form-group">
						<div class="text-danger">{{field.errors}}</div>
						{{field.label_tag}}
						{{field}}
					</div>
				{% endfor %}
				<h2>Otro Idioma</h2>
				{% for field in otro_idioma_form %}
					<div class="form-group">
						<div class="text-danger">{{field.errors}}</div>
						{{field.label_tag}}
						{{field}}
					</div>
				{% endfor %}
		</div>
		<div class="col-md-6">
			<h2>Grados escolares</h2>
			{{ gradosescolaridad_formset.management_form }}
			{% for form in gradosescolaridad_formset %}
				<h2><small>{{ form.instance.grado|title }}</small></h2>
				{{ form.as_p }}
			{% endfor %}
		</div>
	</div>
</form>