<form action="#" method="post">{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			<input class="btn btn-lrg btn-primary" type="submit" value="Guardar cambios" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2></h2>
			{% for field in actividades_form %}
				<div class="form-group">
					<div class="text-danger">{{field.errors}}</div>
					{{field.label_tag}}
					{{field}}
				</div>
			{% endfor %}
		</div>
		
	</div>
</form>