<form action="#" method="post">{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			<input class="btn btn-lrg btn-primary" type="submit" value="Guardar cambios" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2></h2>
			{{ referencias_formset.management_form }}
			{% for form in referencias_formset %}
				<h2><small>Referencia {{ forloop.counter }}</small></h2>
				{{ form.as_p }}
			{% endfor %}
		</div>
		
	</div>
</form>