<form action="#" method="post">{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			<input class="btn btn-lrg btn-primary" type="submit" value="Guardar cambios" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2></h2>
			{% for field in investigacion_form %}
				<div class="form-group">
					<div class="text-danger">{{field.errors}}</div>
					{{field.label_tag}}
					{{field}}
				</div>
			{% endfor %}
		</div>
		<div class="col-md-6">
			<h2></h2>
			{% if admin %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Administrador</h3>
					</div>
					<div class="panel-body">
					{{ investigacion_admin_form }}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</form>