{% extends 'layout/base.html' %}

{% block side_content %}
	[ sección de búsqueda/filtros ]
{% endblock %}

{% block site_wrapper %}
<h1 class="page-header">
	Investigaciones 
	<a href="/investigacion/nueva" title="investigacion nueva" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
	<span id="msg"></span>
</h1>
<div class="row placeholders">
    <div class="table-responsive">
		{% if data|length %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Agente</th>
					<th>Empresa</th>
					<th>Puesto</th>
					<th>Candidato</th>
					<th>Fecha</th>
					<th>Resultado</th>
					<th>Ver</th>
				</tr>
			</thead>
			<tbody>
			{% for item in data %}
			<tr>
				<td>{{ item.agente.username }}</td>
				<td>{{ item.empresa_contratante }}</td>
				<td>{{ item.puesto }}</td>
				<td>{{ item.candidato }}</td>
				<td>{{ item.fecha }}</td>
				<td>{{ item.resultado }}</td>
				<td><a href="/investigacion/{{item.id}}/editar" title="editar {{item}}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="bg-info">No hay investigaciones registradas</div>
		{% endif %}

	</div>
</div>
{% endblock %}